.spiral-rings-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 1.0;
}

.spiral-rings-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}